.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.App .container {
	flex: 1 0 auto;
	margin-bottom: 2rem;
}

.App-logo {
	height: 50px;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 3rem;
	justify-content: center;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.crop-height {
	height: 195px;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	padding-top: 0;
	font-weight: 600;
	margin-bottom: 0;
}

h6 {
	font-weight: 500!important;
}

footer {
	background-color: #282c34;
	color: white;
	flex-shrink: 0;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}